<h2>Portfolio</h2>

<p class="description">{{ 'portfolio.description' | translate }}</p>

<div class="projects-wrapper">
    @for (project of projects; track $index) {
        <div class="project">
            <img src="assets/pngs/{{ project.imgSrc }}" alt="" />
            <div class="project-infos">
                <h3>{{ project.name }}</h3>
                <p class="knowledge">{{ project.knowledge.join(' | ') }}</p>
                <p>{{ project.description }}</p>
                <div class="project-btns">
                    <a class="btn-test" href="{{ project.urlTest }}">Live Test</a>
                    <a class="btn-git" href="{{ project.urlGit }}">GitHub</a>
                </div>
            </div>
        </div>
    }
</div>
