@use '../../../../public/assets/styles';

:host {
    @include styles.flex-center;
    @include styles.content-boundary;
    align-items: flex-start;
    gap: 166px;
}

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 35px;
    z-index: 5;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
}

li {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    cursor: pointer;

    &:hover {
        .about-icon {
            padding: 0;
        }
    }
}

.about-icon {
    fill: none;
    width: 48px;
    min-width: 48px;
    height: 48px;
    padding: 8px 0;
}

.photo-wrapper {
    position: relative;

    .photo {
        width: 593px;
        height: auto;
        z-index: 3;
    }

    .bg {
        width: 1440px;
        height: auto;
        position: absolute;
        bottom: -90%;
        right: 0;
        z-index: 3;
    }

    .photo-green {
        width: 431px;
        height: auto;
        position: absolute;
        top: 12%;
        right: -6%;
    }

    .photo-purple {
        width: 400px;
        height: 558px;
        position: absolute;
        top: 15%;
        left: -10%;
    }
}
