<div>
    <p>Anastasia</p>
    <p>Legal Notice</p>
</div>

<p>© Anastasia Roberz 2026</p>

<div class="social-icon-wrapper">
    <a href="https://github.com/AnastasiaRoberz">
        <img class="social-icon" src="assets/icons/icon-github.svg" alt="" />
    </a>
    <a href="mailto:anastasia.roberz@gmx.de">
        <img class="social-icon" src="assets/icons/icon-mail.svg" alt="" />
    </a>
    <a href="http://">
        <img class="social-icon" src="assets/icons/icon-linkedin.svg" alt="" />
    </a>
</div>
