<header class="header-content">
    <a class="logo" routerLink="/">Anastasia</a>

    <div class="menu">
        <nav>
            <a class="nav-link" href="#about">{{ 'header.about' | translate }}</a>
            <a class="nav-link" href="#skills">{{ 'header.skills' | translate }}</a>
            <a class="nav-link" href="#portfolio">{{ 'header.portfolio' | translate }}</a>
        </nav>

        <div class="language-switch">
            <button
                type="button"
                class="btn-language"
                (click)="useLanguage('de')"
                [class.active]="currentLanguage === 'de'"
            >
                DE
            </button>
            <button
                type="button"
                class="btn-language"
                (click)="useLanguage('en')"
                [class.active]="currentLanguage === 'en'"
            >
                EN
            </button>
        </div>
    </div>
</header>
