<div class="header-content">
    <p class="logo">Anastasia</p>

    <div class="menu">
        <nav>
            <button type="button" (click)="scrollTo('about')">
                {{ 'header.about' | translate }}
            </button>
            <button type="button" (click)="scrollTo('skills')">
                {{ 'header.skills' | translate }}
            </button>
            <button type="button" (click)="scrollTo('projects')">
                {{ 'header.portfolio' | translate }}
            </button>
        </nav>

        <div class="language">
            <button class="btn-language" (click)="useLanguage('de')">DE</button>
            <button class="btn-language active" (click)="useLanguage('en')">EN</button>
        </div>
    </div>
</div>
