<div class="hero-content">
    <div class="hero-title">
        <p class="vertical">I am</p>
        <div class="name-wrapper">
            <p class="name">
                Anastasia <br />
                Roberz
            </p>
            <p class="job-title">{{ 'hero.job-title' | translate }}</p>
        </div>
    </div>

    <button>{{ 'hero.btn-talk' | translate }}</button>
</div>

<div class="hero-footer">
    <div class="social-section">
        <a href="https://github.com/AnastasiaRoberz">
            <svg class="social-icon">
                <use href="/assets/icons/icons.svg#icon-github"></use>
            </svg>
        </a>
        <a href="mailto:anastasia.roberz@gmx.de">
            <svg class="social-icon">
                <use href="/assets/icons/icons.svg#icon-mail"></use>
            </svg>
        </a>
        <a href="https://www.linkedin.com/in/anastasia-roberz-5773641ab/">
            <svg class="social-icon">
                <use href="/assets/icons/icons.svg#icon-linkedin"></use>
            </svg>
        </a>
    </div>

    <p class="scroll">
        {{ 'hero.scroll' | translate }}
        <span>
            <svg class="arrow-down">
                <use href="/assets/icons/icons.svg#icon-arrow-down"></use>
            </svg>
        </span>
    </p>
</div>
