@use '../../../../public/assets/styles';

:host {
    @include styles.content-boundary;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    // height: calc(100dvh - styles.$header-height);
}

.hero-content {
    @include styles.flex-center(column);
    flex: 1;
    gap: 72px;
}

.hero-title {
    @include styles.flex-center;
    gap: 35px;
    position: relative;

    .vertical {
        font-size: 5.625rem;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        line-height: 0.75;
        z-index: 3;
    }

    .name-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 12px;
        z-index: 3;
    }

    .job-title {
        font-size: 4rem;
        color: styles.$primary2;
        text-transform: uppercase;
        line-height: 0.75;
    }

    .purple-shadow {
        width: 835px;
        height: auto;
        position: absolute;
        top: -55%;
        left: -65%;
    }

    .blue-shadow {
        width: 865.5px;
        height: auto;
        position: absolute;
        top: -105%;
        right: -90%;
    }
}

.hero-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    justify-self: flex-end;
}

.social-section {
    @include styles.flex-center;
    @include styles.line-left(styles.$primary1);
    gap: 42px;
    margin-left: 42px;
    position: relative;
}

.scroll {
    color: white;
    writing-mode: vertical-rl;
    font-size: 1.4rem;

    .arrow-down {
        width: 24px;
        height: 24px;
    }
}
