@use '../../../../public/assets/styles';

:host {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    height: calc(100dvh - 110px);
    padding: styles.$padding-main;
    margin-top: 110px;
}

.hero-content {
    @include styles.flex-center(column);
    flex: 1;
    gap: 72px;
}

.hero-title {
    @include styles.flex-center;
    gap: 35px;

    .vertical {
        font-size: 5.6rem;
        color: white;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        line-height: 1;
    }

    .name-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 6px;
    }

    .name {
        font-size: 8rem;
        color: white;
        font-weight: 700;
        line-height: 100%;
        text-align: right;
    }

    .job-title {
        font-size: 4rem;
        color: styles.$primary2;
        text-transform: uppercase;
        line-height: 100%;
    }
}

button {
    @include styles.btn-primary;
    border: none;
    background-color: styles.$primary1;
}

.hero-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    justify-self: flex-end;
}

.social-section {
    @include styles.flex-center;
    gap: 42px;
    margin-left: 42px;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: calc(100% + 42px);
        height: 4px;
        width: 100vw;
        background-color: styles.$primary1;
    }

    .social-icon {
        width: 40px;
        height: 40px;
        padding: 5px;

        &:hover {
            padding: 0;
        }
    }
}

.scroll {
    color: white;
    writing-mode: vertical-rl;
    font-size: 1.4rem;

    .arrow-down {
        width: 24px;
        height: 24px;
    }
}

hr {
    width: 100px;
    border: 4px solid styles.$primary1;
}
