@if (showErrors()) {
    @switch (getErrorKey()?.key) {
        @case ('required') {
            <span class="error-msg">{{
                'contact.error-msg.required' | translate: { field: (fieldKey() | translate) }
            }}</span>
        }

        @case ('minlength') {
            <span class="error-msg">
                {{
                    'contact.error-msg.min-length'
                        | translate
                            : {
                                  field: (fieldKey() | translate),
                                  min: getErrorKey()?.value?.requiredLength,
                              }
                }}
            </span>
        }

        @case ('email') {
            <span class="error-msg">
                {{ 'contact.error-msg.mail' | translate }}
            </span>
        }

        @case ('message') {
            <span class="error-msg">
                {{ 'contact.error-msg.msg' | translate }}
            </span>
        }

        @case ('privacy') {
            <span class="error-msg">
                {{ 'contact.error-msg.privacy' | translate }}
            </span>
        }
    }

    <svg class="icon-invalid">
        <use href="assets/icons/icons.svg#icon-invalid"></use>
    </svg>
}
