<h2>
    <span class="title">{{ 'privacy-policy.title' | translate }}</span>
</h2>

<section>
    <h3>{{ 'privacy-policy.responsible.title' | translate }}</h3>
    <p>{{ 'privacy-policy.responsible.text' | translate }}</p>
    <ul>
        <li>Anastasia Roberz</li>
        <li>Max-Lang-Straße 1</li>
        <li>70771 Leinfelden-Echterdingen</li>
        <li>E-Mail: anastasia.roberz@gmx.de</li>
    </ul>
</section>

<section>
    <h4>{{ 'privacy-policy.hosting.title' | translate }}</h4>
    <p>{{ 'privacy-policy.hosting.text' | translate }}</p>
</section>

<section>
    <h4>{{ 'privacy-policy.contact.title' | translate }}</h4>
    <p>{{ 'privacy-policy.contact.text' | translate }}</p>
</section>

<section>
    <h4>{{ 'privacy-policy.rights.title' | translate }}</h4>
    <p>{{ 'privacy-policy.rights.text' | translate }}</p>
</section>
