@use '../../public/assets/styles';

:host {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: styles.$background;
    min-height: 100dvh;
}
