@use './variables';
@use 'sass:map';

@mixin flex-center($direction: row) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

@mixin content-boundary($section: main) {
    width: 100%;
    max-width: 1440px;
    padding: map-get($map: variables.$paddings, $key: $section);
}

@mixin input-field {
    background-color: variables.$background;
    border: 1px solid variables.$primary2;
    border-radius: 10px;
    color: white;
    padding: 15px 25px;

    &::placeholder {
        color: white;
    }
}

@mixin invalid-txt {
    color: variables.$error;
    font-size: 0.875rem;
}

@mixin txt-underline {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 55.5px;
    height: 3px;
    background-color: variables.$primary1;
}

@mixin line($direction, $color, $offset: 32px) {
    $pseudo: if($direction == 'left', 'before', 'after');

    &::#{$pseudo} {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 4px;
        width: 200vw;
        background-color: $color;

        @if ($direction == 'left') {
            right: calc(100% + $offset);
        } @else {
            left: calc(100% + $offset);
        }
    }
}
