@use './variables' as variables;

@mixin flex-center($direction: row) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

@mixin input-field {
    background-color: variables.$background;
    border: 1px solid variables.$primary2;
    border-radius: 10px;
    color: white;
    padding: 15px 25px;

    &::placeholder {
        color: white;
    }
}

@mixin invalid-txt {
    color: variables.$error;
    font-size: 0.875rem;
}

@mixin button {
    font-size: 1.5rem;
    color: white;
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
}

@mixin btn-primary {
    @include button();
    background-color: variables.$primary1;
    margin: 5px 10px;

    &:hover {
        background-color: variables.$primary2;
        padding: 20px 40px;
        margin: 0;
    }

    &:active {
        background-color: white;
        color: black;
    }
}

@mixin btn-secondary {
    @include button();
    background-color: transparent;
    border: 1px solid variables.$primary1;

    &:hover {
        background-color: variables.$primary1;
        border: none;
    }

    &:active {
        background-color: white;
        border: none;
        color: variables.$primary2;
    }
}

@mixin txt-underline {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 55.5px;
    height: 3px;
}
