$background: rgb(20, 29, 47);
$primary1: rgb(112, 230, 28);
$primary2: rgb(151, 71, 255);
$secondary: rgb(28, 218, 230);

$error: rgb(230, 28, 64);
$disabled: rgb(182, 182, 182);

$padding-main: 50px clamp(24px, calc(2.286px + 6.786vw), 100px);
