@use '../../../../public/assets/styles';

.content {
    width: 100%;
    max-width: 1440px;
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    padding: 60px clamp(20px, calc(-31.429px + 16.071vw), 200px);
    margin-bottom: 40px;
    flex: 1;
}

h2 {
    @include styles.line('right', styles.$primary2);
    margin-bottom: 24px;
    position: relative;
    display: flex;
    align-self: center;
    line-height: 1.2;

    .title {
        font-size: clamp(2rem, calc(1.429rem + 2.857vw), 4rem);
        font-weight: 700;
        color: styles.$primary1;
        padding: 0 25px;
        background-color: styles.$background;
        z-index: 2;
        white-space: nowrap;
    }

    &::after {
        left: -130px;
        transform: translateY(200%);
    }
}

h3 {
    font-size: 2rem;
    font-weight: 700;
    color: styles.$primary2;
    margin-bottom: 16px;
}

h4 {
    font-size: 1.125rem;
    font-weight: 700;
    color: styles.$primary2;
}

span {
    color: styles.$primary2;
}

ul {
    margin-left: 24px;
}

.content.is-mobile {
    h2 {
        align-self: flex-start;
        text-align: left;
    }

    .title {
        text-align: left;
        align-self: start;
    }
}
